.section-description {
  &__title {
    color: #666666;
    text-align: center;
    margin: 0;
    padding-top: 75px;
  }

  &__text {
    color: #666666;
    width: 775px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0 40px 0;
  }
}
