.navbar {
  flex-grow: 2;
  padding: 0 20px 0 180px;

  &__items {
    display: flex;
    justify-content: space-around;
  }

  &__item {
  }

  &__link {
    color: white;
  }

  &__link:hover {
    color: #8bc34a;
  }
}
