.ideas {
  height: 700px;
  width: 100%;
  background-color: #fffcf8;
  position: relative;

  &__img {
    width: 775px;
    position: absolute;
    bottom: -4px;
  }

  &--center {
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  &--left {
    left: 25%;
    transform: translateX(-25%);
  }

  &--right {
    right: 25%;
    transform: translateX(25%);
  }
}
