.main-button {
  text-transform: uppercase;
  color: white;
  background-color: #998675;
  height: 50px;
  width: 170px;
  border-bottom: 3px solid #675646;
  box-sizing: border-box;
  border-radius: 4px;
}
