// base

html, body {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

a, button {
  outline: 0;
  cursor: pointer;
}

@import "./header/header.scss";
@import "./navbar/navbar.scss";
@import "./slider/slider.scss";
@import "./services/services.scss";
@import "./ideas/ideas.scss";
@import "./purchase/purchase.scss";
