// base

html, body {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

a, button {
  outline: 0;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

@import "./bg-dark/bg-dark.scss";
@import "./header/header.scss";
@import "./navbar/navbar.scss";
@import "./main-button/main-button.scss";
@import "./slider/slider.scss";
@import "./services/services.scss";
@import "./ideas/ideas.scss";
@import "./purchase/purchase.scss";
@import "./projects/projects.scss";
@import "./categories/categories.scss";
@import "./section-description/section-description.scss";
@import "./card/card.scss";
@import "./grid/grid.scss";
@import "./posts/posts.scss";
@import "./partners/partners.scss";
@import "./counters/counters.scss";
@import "./video/video.scss";
@import "./for-mobile/for-mobile.scss";
@import "./footer/footer.scss";
@import "./bottom-bar/bottom-bar.scss";
